header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShf7kpue0oTjMpWyiBOnC5vhGerndx-pMvm7sK9DW8wV0DB8rc&s");
  background-position: center;
  background-size: cover;

  min-height: 30rem;

  nav {
    a {
      color: @white;
    }
  }


  .coaches {
    color: @white;
    text-align: center;
    margin-top: 6rem;
    font-weight: 400;
  }
}

.anywhere{
    margin-top: 4rem;
    text-align: center;
}
.team-leader {
  width: 250px;
  margin: auto;
  text-align: center;
}

.top-team-Images .team {
  width: 250px;
  margin-right: 3rem;
  text-align: center;
  .developer {
    border-radius: 3rem;
    background-color: #fb5b21;
    color: @white;
  }
}
.bottom-team-Images .team {
  width: 250px;
  margin-right: 3rem;
  margin-top: 2rem;
  text-align: center;
  .developer {
    border-radius: 3rem;
    background-color: #fb5b21;
    color: @white;
  }
}
.top-team-Images,
.bottom-team-Images {
  display: flex;
  justify-content: center;
}

.experience {
  background-image: url(https://image.shutterstock.com/image-vector/fitness-center-seamless-pattern-background-260nw-1115233697.jpg);
  background-size: cover;

  min-height: 50rem;
  margin-top: 10rem;
  .text {
    text-align: center;
    padding-top: 20rem;
    font-weight: 400;
    p {
      font-size: 2rem;
    }
    button {
      border-radius: 10rem;
      background-color: #fb5b21;
      color: @white;
      font-size: 1.6rem;
      font-weight: 600;
      width: 200px;
      height: 50px;
    }
  }
}
